@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.info {
    padding: 0 1rem;

    @include tablet{
        padding: 0 2rem;
    }
    @include desktop{
        width: 78vw;
        padding: 0 9rem;
    }

    &__title{
        @include header-fontStyle;
        font-weight: 600;
        padding: 1rem 0;

        @include tablet{
            @include header-fontStyleTablet;
            font-weight: 600;
        }
    }

    &__details{
        display: flex;
        justify-content: space-between;
        padding: 1rem 0 1rem 0;
        border-top: solid $color_mercury;
        border-bottom: solid $color_mercury;

        @include tablet{
            border-top: none;
            padding-top: 0%;
            padding-bottom: 0%;
        }
        @include desktop{
            padding-right: 1rem;
        }
    }
    
    &__account{
        font-weight: 500;
        padding-bottom: .5rem;

        @include tablet{
            @include body-fontStyleTablet;
            font-weight: 600;
        }
    }

    &__date{
        color: $color_silver;
        @include tablet{
            @include label-fontStyleTablet;
            display: flex;
            align-items: center;
            font-weight: 400;
            padding-bottom: .5rem;
            padding-left: 1.5rem;
        }
    }

    &__views-wrapper{
        display: flex;
    }

    &__likes-wrapper{
        display: flex;

        @include tablet{
            padding-bottom: .5rem;
        }
    }

    &__right{
        color: $color_silver;
        padding-right: 3rem;

        @include tablet{
            display: flex;
            flex-direction: row;
            @include label-fontStyleTablet;
            font-weight: 400;
            width: 30vw;
            justify-content: space-between;
            padding-right: 0%;
            padding-left: 2rem;
        }
        @include desktop{
            width: 16vw;
            padding-right: 1rem;
            display: flex;
            padding-left: 0%;

        }
    }

    &__left{
        @include tablet {
            display: flex;
            flex-direction: row;
        }
    }

    &__views{
        padding-left: .5rem;

        @include tablet{
            display: flex;
            align-items: center;
        }
    }

    &__likes{
        padding-left: .5rem;

        @include tablet{
            display: flex;
            align-items: center;
        }
    }

    &__views-wrapper{
        padding-bottom: .5rem;
    }

    &__description{
        @include body-fontStyle;
        padding: 1rem 0;
        width: 91vw;

        @include tablet{
            @include body-fontStyleTablet;
            width: 88vw;
        }
        @include desktop{
            width: 53vw;
        }
    }
}
  
