@font-face {
    font-family: "Avenir Next";
    src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format("otf");
    font-weight: 400;
}

@font-face {
    font-family: "Avenir Next";
    src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("otf");
    font-weight: 700;
}